
@font-face {
	font-family: 'Proxima Nova';
	src: url('../css/fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../css/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ProximaNova-Regular.woff') format('woff'),
		url('../css/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../css/fonts/ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('../css/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../css/fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../css/fonts/ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../css/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ProximaNova-Bold.woff') format('woff'),
		url('../css/fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
html, body, div, span, h1, h3, p, img, strong, b, figcaption, figure, footer, header, nav { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
body { line-height: 1; }
.c15 { margin-bottom: 25px; }
.c15, .c15 td, .c15 tr { border: 1px solid rgb(214, 214, 214); }
.c15 .c3 p { padding: 5px 10px; margin-bottom: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
figcaption, figure, footer, header, nav { display: block; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
body { background-color: rgb(242, 242, 242); position: relative; }
img { max-width: 100%; }
a { color: rgb(184, 139, 88); text-decoration: none; }
.Body { font-size: 18px; line-height: 22px; }
@media only screen and (min-width: 48em) {
    .Body { font-size: 20px; line-height: 27px; }
}

.subtitle {
    font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif;
    margin-top:20px;
    line-height: 24px;
    font-size: 19px;
    font-weight:bold;
}

.Body > * { max-width: 980px; font-family: "PFRegal","Georgia",serif; }
.Body:last-child > :last-child { margin-bottom: 0px; }
.Body a { color: inherit; -webkit-box-shadow: 0px -1px rgb(184, 139, 88) inset; box-shadow: 0px -1px rgb(184, 139, 88) inset; }
.Body a:hover { color: rgb(184, 139, 88); }
.Body p { margin-bottom: 15px; }
.Body p:empty { display: none; }
.Body h3 { margin-top: 18px; margin-bottom: 12px; font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif; font-size: 21px; font-weight: bold; }
.SvgIcon { position: relative; z-index: 1; display: inline-block; overflow: hidden; vertical-align: middle; }
.SvgIcon--meduzaLogo { margin-top: -2px; height: 80px; }
.Menu { display: none; font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif; text-transform: uppercase; font-weight: 600; color: rgb(255, 255, 255); }
@media only screen and (min-width: 64em) {
    .Menu { font-size: 13px; height: 80px; width: 100%; letter-spacing: 1px; background-color: rgb(38, 38, 38); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
    .Menu a {display: -webkit-box;display: -ms-flexbox;display: flex;color: inherit;}
}
@media only screen and (max-width: 505px) { iframe {height: 940px!important}}
.Menu-item { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0px; text-align: center; -webkit-transition: color 0.15s ease-out 0s; transition: color 0.15s ease-out 0s; }
.Menu-item a {color: inherit}
@media only screen and (min-width: 64em) {
    .Menu-item { padding: 0px 15px; border-bottom: 0px none; }
}
@media only screen and (min-width: 64em) {
    .Menu-item:last-of-type { border-right: medium none; }
}
@media only screen and (min-width: 64em) {
    .Menu-item:hover { color: rgb(153, 153, 153); background-color: inherit; }
}
.Menu-link { -webkit-transition: color 0.15s ease-out 0s; transition: color 0.15s ease-out 0s; text-decoration: none; color: rgb(255, 255, 255); position: relative; line-height: 45px; top: 1px; }
.Menu-item:hover .Menu-link { color: rgb(153, 153, 153); }
.MeduzaLogo { position: relative; z-index: 2; top: 0px; left: 0px; width: 100px; height: 100%; display: inline-block; background-repeat: no-repeat; background-position: center 10px; background-size: contain; }
.Header { position: relative; height: 80px; background-color: rgb(38, 38, 38); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; z-index: 2; }
@media only screen and (min-width: 64em) {
    .Header { padding: 0px 15px; }
}
@media only screen and (max-width: 63.9375em) {
    .Header .HeaderButton--chat { display: none; }
}
.Header-left { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 16%; flex-basis: 16%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 100%; }
.Header-center { height: 100%; display: none; }
@media only screen and (min-width: 64em) {
    .Header-center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; }
}
.Header-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; height: 100%; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-preferred-size: 16%; flex-basis: 16%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.Header-meduzaLogo { display: -webkit-box; display: -ms-flexbox; display: flex; height: 45px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; left: 0px; right: 0px; }
@media only screen and (min-width: 64em) {
    .Header-meduzaLogo { position: static; }
}
.HeaderButton { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; min-width: 45px; height: 100%; padding: 0px 15px; -moz-user-select: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: rgb(255, 255, 255); fill: currentcolor; border: 0px none; background: transparent none repeat scroll 0% 0%; margin: 0px; cursor: pointer; }
.HeaderButton:active { outline-width: 0px; }
.HeaderButton:hover { color: rgb(153, 153, 153); }
.HeaderButton::after { position: absolute; top: 0px; right: 0px; bottom: 0px; border-right: 1px solid rgb(103, 103, 103); }
@media only screen and (min-width: 64em) {
    .HeaderButton::after { top: 10px; bottom: 10px; }
}
.HeaderButton-link { display: block; padding-top: 2px; text-transform: uppercase; color: inherit; font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif; font-weight: 600; cursor: pointer; }
.HeaderButton-link::before { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; content: ""; }
.HeaderButton-link a {color: inherit}
.HeaderButton--chat { font-size: 13px; letter-spacing: 0.05em; }
.HeaderButton--chat a {color: inherit}
.Copyright { padding: 0px 12px; line-height: 1.2; }
@media only screen and (min-width: 64em) {
    .Copyright { padding: 0px; }
}
.Copyright-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; margin: 0px auto; padding: 13px 0px 12px; }
.Copyright-container a:hover { color: rgba(255, 255, 255, 0.5); }
@media only screen and (min-width: 48em) {
    .Copyright-container { max-width: 675px; padding: 10px 0px 18px; border-top: 1px solid rgb(80, 80, 80); -ms-flex-wrap: nowrap; flex-wrap: nowrap; text-align: left; }
}
@media only screen and (max-width: 505px) {
    iframe {height:940px!important;}}
    
@media only screen and (min-width: 64em) {
    .Copyright-container { max-width: 860px; }
}
.Copyright-container a { color: rgb(255, 255, 255); }
.Copyright-block { padding-top: 13px; font-size: 17px; -webkit-box-flex: 1; -ms-flex: 1 0 20%; flex: 1 0 20%; }
@media only screen and (min-width: 48em) {
    .Copyright-block { padding-top: 0px; border-top: 0px none; }
}
.Copyright-block:last-child { text-align: right; }
.MaterialTag { position: relative; z-index: 30; display: inline-block; vertical-align: top; text-transform: uppercase; border: 1px solid; border-radius: 2px; font-weight: 700; line-height: 1; font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif; color: rgb(184, 139, 88); -moz-user-select: none; }
@media only screen and (max-width: 32em) {
    .MaterialTag { height: 15px; line-height: 15px; padding: 0px 5px; font-size: 10px; letter-spacing: 0.5px; }
}
span.MaterialTag { cursor: default; pointer-events: none; }
@media only screen and (min-width: 32em) {
    .MaterialTag--medium { height: 20px; line-height: 20px; padding: 0px 7px; letter-spacing: 1px; font-size: 12px; }
}
.MaterialTag--solid { color: rgb(255, 255, 255); background: rgb(184, 139, 88) none repeat scroll 0% 0%; border-color: rgb(184, 139, 88); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 63.125em) {
}
.MaterialMeta { display: inline-block; font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif; font-size: 12px; line-height: 14px; color: rgb(128, 128, 128); margin-right: 12px; padding-left: 18px; background-repeat: no-repeat; background-position: left center; background-size: 12px auto; font-weight: normal; }
@media only screen and (min-width: 48em) {
    .MaterialMeta { font-size: 15px; line-height: 18px; margin-right: 15px; }
}
.MaterialMeta--source {  }
@media only screen and (min-width: 48em) {
    .MaterialMeta--source { white-space: nowrap; }
}
.MaterialMeta--time { background-size: 12px 12px;  }
.MediaMaterialHeader { max-width: 840px; }
.MediaMaterialHeader-first { color: rgb(0, 0, 0); line-height: 27px; }
@media only screen and (min-width: 48em) {
    .MediaMaterialHeader-first { line-height: 38px; }
}
.MediaMaterialHeader-first, .MediaMaterialHeader-separator { -webkit-transition: color 0.25s ease-out 0s; transition: color 0.25s ease-out 0s; font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif; font-size: 24px; font-weight: 700; }
@media only screen and (min-width: 48em) {
    .MediaMaterialHeader-first, .MediaMaterialHeader-separator { font-size: 36px; }
}
.MediaMaterial { background-color: rgb(255, 255, 255); padding: 12px; }
@media only screen and (min-width: 48em) {
    .MediaMaterial { padding: 25px 15px 20px; }
}
.MediaMaterial-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; max-width: 650px; margin: 0px auto 18px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
@media only screen and (min-width: 63.125em) {
    .MediaMaterial-header { max-width: 1000px; margin-bottom: 25px; }
}
.MediaMaterial-tag { margin-bottom: 5px; }
@media only screen and (min-width: 48em) {
    .MediaMaterial-tag { margin-bottom: 11px; }
}
.MediaMaterial-meta { margin-top: 12px; }
@media only screen and (min-width: 48em) {
    .MediaMaterial-meta { margin-top: 12px; }
}
.MediaMaterial-materialContent { width: 100%; max-width: 650px; }
.MediaMaterial-body { position: relative; max-width: 650px; margin: 0px auto; }
@media only screen and (min-width: 63.125em) {
    .MediaMaterial-body { max-width: 1000px; }
}
@media only screen and (min-width: 48em) {
    .MediaMaterial--fullWidth .MediaMaterial-header { -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }
}
.MediaMaterial--fullWidth .MediaMaterial-materialContent { max-width: none; }
.Material { padding: 12px 0px 0px; }
@media only screen and (min-width: 48em) {
    .Material { padding: 15px 0px 0px; }
}
.Material-shadow { position: absolute; width: 100%; height: 1px; left: 0px; z-index: 300; background-color: rgba(0, 0, 0, 0.15); }
.Material-shadow--top { top: 0px; }
.Material-container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; }
@media only screen and (min-width: 48em) {
    .Body h3 { margin-top: 35px; margin-bottom: 10px; font-size: 26px; line-height: 27px; }
}
.MaterialContent--bannerless .Body > * { margin-right: auto; margin-left: auto; }
.MaterialContent .Figure { margin-right: -12px; margin-left: -12px; }
@media only screen and (min-width: 40.625em) {
    .MaterialContent .Figure {margin-right: auto; margin-left: auto; }
}
.Figure { margin: 15px -12px; }
.Figure img { display: block; margin: 5px auto; }
@media only screen and (min-width: 48em) {
    .Figure { margin: 27px auto 20px; }
}
@media only screen and (min-width: 75em) {
    .Figure { max-width: 650px; }
}
.Figure img { max-width: 100%; vertical-align: bottom; }
@media only screen and (min-width: 40.625em) {
    .Figure img { border-radius: 2px; }
}
.Figure-caption { width: 100%; max-width: 650px; margin: 0px auto; padding: 7px 12px 0px; font-size: 15px; line-height: 17px; }
@media only screen and (min-width: 40.625em) {
    .Figure-caption { padding-right: 0px; padding-left: 0px; font-size: 16px; line-height: 18px; }
}
.App { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; transition: transform 0.25s ease-out 0s, -webkit-transform 0.25s ease-out 0s; }
.App-content, .App-footer { transition: transform 0.25s ease-out 0s, -webkit-transform 0.25s ease-out 0s; }
.App-footer { position: relative; z-index: 1; }
.App-content { position: relative; z-index: 1; overflow: visible; background-color: rgb(242, 242, 242); -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }
.App-header { position: relative; z-index: 200; }
.App--isMaterial .App-content { background-color: rgb(230, 230, 230); }
.Footer { color: rgb(153, 153, 153); background-color: rgb(37, 37, 37); font-family: "Proxima Nova","Arial","Helvetica Neue",sans-serif; }
.logo { display: block; margin-top: 0px; }
.ava-img { width: 50px; margin-right: 10px; display: inline-block; vertical-align: middle; }
.Body a { color: blue; }
.Body a:hover { -webkit-box-shadow: none; box-shadow: none; }
a.button { font-size: 20px; text-align: center; color: rgb(255, 255, 255) ! important; background-color: red; display: block; width: 100%; max-width: 320px; border-radius: 50px; text-decoration: none; padding: 15px 20px; }
a.button:hover { background-color: rgb(193, 31, 31); }


.oui { width: 781px; height: 460px; background: transparent linear-gradient(135deg, rgb(60, 114, 181) 0%, rgb(123, 159, 204) 100%) repeat scroll 0% 0%; font-family: Roboto ! important; position: relative; border: 5px solid rgb(221, 221, 221); }
.actsss { display: none ! important; }
.eeee { background-color: rgba(0, 0, 0, 0.7); display: none; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 10000; position: fixed; cursor: pointer; }
.kmacb-form2 .modal-block { left: 50%; margin-left: -396px; position: fixed; top: 6%; z-index: 11000; width: 792px; height: 470px; border-radius: 5px; border: 0px none; -webkit-box-shadow: none; box-shadow: none; font-family: Arial,sans-serif; overflow: hidden; color: rgb(34, 34, 34); }
p.ouimainp { font-size: 30px; font-family: Arial,Helvetica,sans-serif; font-weight: bold; padding-top: 23px; display: block; color: rgb(255, 255, 255); text-align: center; }
.ouimain-text-img { display: block; width: 90%; padding: 0px 5%; margin-top: 27px; }
.ouimain-img { float: left; display: block; width: 30%; margin: 0px auto; }
.ouimain-img img { display: block; width: 100%; margin: 0px auto; }
.ouimain-text { display: block; width: 65%; float: right; margin-left: 5%; margin-top: 15px; }
.ouimain-text p { font-family: Arial,Helvetica,sans-serif; line-height: 1.5; text-align: left; color: rgb(255, 255, 255); font-size: 22px; padding-bottom: 5px; }
.ouimain-text-img::after { content: ""; display: block; clear: both; }
.kmacb-form input[type="button"] { position: absolute; cursor: pointer; border: 1px solid rgb(73, 155, 234); background: transparent linear-gradient(135deg, rgb(222, 69, 92) 0%, rgb(222, 69, 92) 13%, rgb(192, 31, 55) 76%, rgb(192, 31, 55) 100%) repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 0px 10px; text-transform: uppercase; line-height: 60px; vertical-align: top; display: block; text-indent: 0px; font-style: normal; font-family: Arial,Helvetica,sans-serif; width: 402px; height: 64px; opacity: 1; bottom: 29px; margin-left: 195px; text-align: center; font-size: 28px; font-weight: 900; border-radius: 10px; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; }
.lucky-chat-status__text--online::before { background-color: rgb(147, 194, 150); }
.lucky-chat-status__text--offline::before { background-color: red; }
.lucky-chat-status__text::before { content: ""; display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 3px; }
.lucky-chat-message__text::after { position: absolute; content: ""; width: 0px; height: 0px; border-style: solid; }
.lucky-chat-message__item--doctor .lucky-chat-message__name::after { position: absolute; content: ""; width: 0px; height: 0px; border-style: solid; top: 0px; right: 100%; margin-right: -2px; border-color: transparent rgb(95, 200, 144) transparent transparent; border-width: 0px 14px 12px 0px; }
.lucky-chat-message__item--doctor .lucky-chat-message__text::after { display: none; }
.lucky-chat-message__item--guest .lucky-chat-message__text::after { top: 0px; left: 100%; margin-left: -2px; border-color: rgb(200, 216, 232) transparent transparent; border-width: 14px 12px 0px 0px; }
.lucky-chat-message__item--system .lucky-chat-message__text::after { top: 0px; right: 100%; margin-right: -2px; border-color: transparent rgb(212, 124, 60) transparent transparent; border-width: 0px 14px 12px 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }

.br0 {
    display:none;
    position:absolute;
    left:-10000px;
    top:-100px;
}

.disign_layer {
    margin-bottom:15px;
}
.disign_layer a {
    color: inherit;
    text-decoration: none;
    -webkit-box-shadow:none;
            box-shadow:none;
}
.pwrap{
    display:inline!important;
}

.left_count {
    background:red;
    padding: 23px;
    margin: 12px 0px;
    width: 178px;
    color:#fff;
    text-shadow:
        -0   -1px 0   #000000,
        0   -1px 0   #000000,
        -0    1px 0   #000000,
        0    1px 0   #000000,
        -1px -0   0   #000000,
        1px -0   0   #000000,
        -1px  0   0   #000000,
        1px  0   0   #000000,
        -1px -1px 0   #000000,
        1px -1px 0   #000000,
        -1px  1px 0   #000000,
        1px  1px 0   #000000,
        -1px -1px 0   #000000,
        1px -1px 0   #000000,
        -1px  1px 0   #000000,
        1px  1px 0   #000000;
}
